---
const redirectUrl = 'https://github.com/caunt/Void';
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content={`0;url=${redirectUrl}`} />
        <link rel="canonical" href={redirectUrl} />
        <meta name="robots" content="noindex" />
        <title>Redirecting…</title>
    </head>
    <body>
        Redirecting to <a href={redirectUrl}>{redirectUrl}</a>
    </body>
</html>
