on:
  workflow_call:
    inputs:
      dotnet-version:
        type: string
        required: true

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5
      - name: Install, build, and upload documentation site
        uses: withastro/action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path: docs/astro
#       - name: Validate links
#         uses: lycheeverse/lychee-action@v2
#         with:
#           args: --github-token ${{ secrets.GITHUB_TOKEN }} --base-url dist --exclude-all-private --exclude 404 --include-fragments dist
#           workingDirectory: docs/astro
#           lycheeVersion: nightly
      - name: Deploy GitHub Pages site
        id: deployment
        uses: actions/deploy-pages@v4

  docfx-bug-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
      - name: Clone DocFX repository
        run: |
          git clone https://github.com/dotnet/docfx.git
          cd docfx
          git checkout feat-add-net10-support-2
      - name: Build DocFX templates
        run: |
          cd docfx/templates
          npm install
          npm run build
      - name: Build and pack DocFX
        run: |
          cd docfx
          dotnet build
          dotnet pack src/docfx/docfx.csproj -c Release -o ./artifacts/nupkg
      - name: Install DocFX from local package
        run: dotnet tool install -g docfx --add-source ./docfx/artifacts/nupkg --prerelease
      - name: Build with DocFX
        run: docfx docs/docfx/docfx.json --verbose
        continue-on-error: true
        
