on:
  workflow_call:
    inputs:
      dotnet-version:
        type: string
        required: true
      void-version:
        type: string
        required: true

jobs:
  publish:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      COMMIT_MESSAGE: ${{ github.event_name == 'pull_request' && github.event.pull_request.title || github.event.head_commit.message }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04-arm # ubuntu-latest
            runtime: linux-arm
            run-tests: false
          - os: ubuntu-24.04-arm # ubuntu-latest
            runtime: linux-arm64
            run-tests: true
          - os: ubuntu-24.04-arm # ubuntu-latest
            runtime: linux-bionic-arm64
            run-tests: false
          - os: ubuntu-latest
            runtime: linux-bionic-x64
            run-tests: true
          - os: ubuntu-24.04-arm # ubuntu-latest
            runtime: linux-musl-arm
            run-tests: false
          - os: ubuntu-24.04-arm # ubuntu-latest
            runtime: linux-musl-arm64
            run-tests: true
          - os: ubuntu-latest
            runtime: linux-musl-x64
            run-tests: true
          - os: ubuntu-latest
            runtime: linux-x64
            run-tests: true
          - os: macos-latest
            runtime: osx-arm64
            run-tests: true
          - os: macos-15-intel # macos-latest
            runtime: osx-x64
            run-tests: true
          - os: windows-11-arm # windows-latest
            runtime: win-arm64
            run-tests: true
          - os: windows-latest
            runtime: win-x64
            run-tests: true
          - os: windows-latest
            runtime: win-x86
            run-tests: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
      - name: Build
        # Do not include runtime here
        # error NETSDK1134: Building a solution with a specific RuntimeIdentifier is not supported. If you would like to publish for a single RID, specify the RID at the individual project level instead.
        run: dotnet build --configuration Release /p:Version=${{ inputs.void-version }} ${{ matrix.parameters }}
      - name: Build Platform
        run: dotnet build src/Platform --runtime ${{ matrix.runtime }} --self-contained --configuration Release /p:DebugType=embedded /p:PublishSingleFile=true /p:GenerateRuntimeConfigurationFiles=false /p:Version=${{ inputs.void-version }} ${{ matrix.parameters }} 
      - name: Publish
        run: dotnet publish --runtime ${{ matrix.runtime }} --self-contained src/Platform --output artifacts --configuration Release --no-build /p:DebugType=embedded /p:PublishSingleFile=true /p:EnableCompressionInSingleFile=true /p:GenerateRuntimeConfigurationFiles=false /p:Version=${{ inputs.void-version }} ${{ matrix.parameters }}
      - name: Save Artifact Suffix
        id: get_suffix
        shell: bash
        run: echo "result=$([[ $OSTYPE == msys* ]] && echo .exe)" >> "$GITHUB_OUTPUT"
      - name: Rename Artifact
        shell: bash
        run: mv artifacts/Void.Proxy${{ steps.get_suffix.outputs.result }} artifacts/void-${{ matrix.runtime }}${{ steps.get_suffix.outputs.result }}
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: void-${{ matrix.runtime }}${{ steps.get_suffix.outputs.result }}
          path: artifacts/void-${{ matrix.runtime }}${{ steps.get_suffix.outputs.result }}
          compression-level: 9
          if-no-files-found: error
      - name: Test
        if: ${{ matrix.run-tests && !startsWith(env.COMMIT_MESSAGE, 'revert') && !startsWith(env.COMMIT_MESSAGE, 'docs') && !startsWith(env.COMMIT_MESSAGE, 'style') && !startsWith(env.COMMIT_MESSAGE, 'chore') && !startsWith(env.COMMIT_MESSAGE, 'refactor') && !startsWith(env.COMMIT_MESSAGE, 'build') && !startsWith(env.COMMIT_MESSAGE, 'ci') }} # GitHub Actions are limited in runners architectures. Check http://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#standard-github-hosted-runners-for-public-repositories.
        continue-on-error: true
        env:
          VOID_INTEGRATION_PROXIED_TESTS_ENABLED: true
        run: dotnet test --runtime ${{ matrix.runtime }} --verbosity normal ${{ matrix.parameters }}
