name: ".NET Workflow"
    
permissions:
  contents: write
  id-token: write
  issues: write
  pages: write
  pull-requests: write

on:
  workflow_dispatch:
    inputs:
      dotnet-version:
        description: "Full version of .NET SDK"
        required: false
      skip-tests:
        description: "Skip running dotnet tests"
        required: false
        default: true
        type: boolean
  push:
    branches: ["main"]

jobs:
  semver:
    uses: ./.github/workflows/version.yaml
    secrets: inherit
    with:
      dotnet-version: ${{ github.event.inputs.dotnet-version }}

  build:
    needs: semver
    uses: ./.github/workflows/dotnet.yaml
    with:
      dotnet-version: ${{ needs.semver.outputs.dotnet-version }}
      void-version: ${{ needs.semver.outputs.void-version }}
      skip-tests: ${{ github.event.inputs.skip-tests == true && 'true' || 'false' }}

  github:
    needs: [build,semver]
    uses: ./.github/workflows/github.yaml
    secrets: inherit
    with:
      tag_name: ${{ needs.semver.outputs.tag_name }}
      release: ${{ needs.semver.outputs.release }}

  docker:
    needs: [build,semver]
    uses: ./.github/workflows/docker.yaml
    secrets: inherit
    with:
      dotnet-version: ${{ needs.semver.outputs.dotnet-version }}
      void-version: ${{ needs.semver.outputs.void-version }}
      release: ${{ needs.semver.outputs.release }}

  nuget:
    needs: [build,semver]
    uses: ./.github/workflows/nuget.yaml
    secrets: inherit
    if: ${{ fromJSON(needs.semver.outputs.release) }}
    with:
      dotnet-version: ${{ needs.semver.outputs.dotnet-version }}
      void-version: ${{ needs.semver.outputs.void-version }}

  docs:
    needs: [build,semver]
    uses: ./.github/workflows/docs.yaml
    secrets: inherit
    with:
      dotnet-version: ${{ needs.semver.outputs.dotnet-version }}
